html,
body {
    height: 100%;
    background-color: #f5f5f5;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}
figure {
    display: block; /* Блочный элемент */
    float: left; /* Блоки выстраиваются по горизонтали */
    margin: 0 10px 10px 0; /* Отступы */
    text-align: center; /* Выравнивание по центру */
   }
.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}
.feed-recommend {
    margin: 0 auto;
    display: inline-block;
    text-align: center;
}
.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}
.avatar-notify {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}
/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

.imgmax {
   max-width: 450px;
   max-height: 450px;
   border: 5px solid white;
}
.imgmax-feed {
   max-width: 355px;
   max-height: 355px;
}
.thumbnail {
   position: relative;
  width: 300px;
  height: 300px;
  overflow: hidden;
}
.thumbnail img {
    position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}
.thumbnail img.portrait {
  width: 100%;
  height: auto;
}
.avatar-feed {
    width: 25px;
    height: 25px;
    border-radius: 50%;
}
.min-photo-search {
    max-width: 50px;
    
}
.bell-unactive {
    width: 25px;
    margin: 0 auto;
    cursor: pointer;
    text-align: center;
}
a.desc:after {
    content: /*"\e114"*/ "\e152";
}
.row {
    width: 100%;
    padding: 10px;
    margin: 0 auto;
}
.sort-numerical a.asc:after {
    content: "\e153";
}
.my-panel {
    width: 400px;
}
.my-panel-profile {
    width: 300px;
   
}
.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}
.narbarcolor {
    background-color: #0a0;
}
@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

.avatar-profile {
    margin: 0 auto;
    max-width: 200px;
    max-height: 200px;
    border-radius: 50%;
    border: 3px solid white;
}
.panel-full {
    max-width: 650px;
    max-height: 675px;
    margin: 10px;
}
.img-full  {
    max-width: 525px;
    max-height: 525px;
}
.like-count-liked {
    float: left;
    font-size: 20px;
    /*font-weight: bold;*/
    color: #c55;
}
.like-count-notliked {
    float: left;
    font-size: 20px;
    /*font-weight: bold;*/
    color: black;
}
.floating-like, .floating-deletephoto{
    float: left;
    border: none;
    background-color: transparent;
}
.unlike-btn-feed{
    float: left;
    border: none;
    background-color: transparent;
}


.floating-unlike {
   float: left;
    border: none;
    background-color: transparent;
}
.floating-unlike-feed, .floating-like-feed {
   float: left;
    border: none;
    background-color: transparent;
}
.form-max {
    width: 500px;
    
}
.avatar-photo {
    max-width: 100px;
    max-height: 100px;
    border-radius: 50%;
    border: 3px solid white;
}